#phoneNo{
margin-bottom:20px;
margin-top:20px;
outline: none;
border-width:2px;
border-bottom-color:#ff6600;
border-bottom-style: dashed;
border-top:none;
border-left:none;
border-right:none;
background-color:#ffffff;
width:80%;
}
.semHead{
letter-spacing:3px;
font-weight:bolder;
}

#semaphore{

font-family:'Acme', sans-serif;sive;
letter-spacing: 1px;

}


#event_label {
letter-spacing:1px;
font-weight:bolder;
font-size:20px;

}

#field{
	margin-bottom:20px;
margin-top:20px;
outline: none;
border-width:2px;
border-bottom-color:#ff6600;
border-bottom-style: dashed;
border-top:none;
border-left:none;
border-right:none;
background-color:#ffffff;
width:80%;

}
#select{

	height:28px;
width:80%;
font-size:large;
outline: none;
border: none;
border-width: none;

border-radius:5px;
margin-top: 10;

}

#button{

		height:28px;
width:60%;
font-size:large;
outline: none;
border: none;
border-width: none;
background-color:#ff6600;
border-radius:5px;
margin-top: 10;
color:#fff;

}


#password{
margin-bottom:60px;
margin-top:20px;
outline: none;
border: none;
border-width:2px;
border-bottom-style: dashed;
border-bottom-color:#ff6600;
border-top:none;
border-left:none;
border-right:none;
background-color:#ffffff;
//padding-top: 50px;
width:80%;
}

#login{
	height:28px;
width:50%;
font-size:large;
outline: none;
border: none;
border-width: none;
background-color:#ff6600;
border-radius:5px;
margin-top: 10;
color:#fff;
}

body{
	

padding-bottom:25px;
text-align: center;
font-family:"Acme", "Ariel", sans-serif;

}

#footer{
	padding-top: 20px;
}


.navbar{
	margin-bottom: 0px !important;
}

.navbar-custom{
	background-color: white;
	
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.navbar-custom li a{
	color: #ff6600;
}

.navbar-header a{
	color: #ff6600;
}

.navbar-toggle .icon-bar{
	background-color: #ff6600;

}
.navbar-right{
margin-bottom:0px;

}

#wrapper
{	border-top-style: dashed;
	border-top-color: #ff6600;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    line-height: 2px;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
	min-width:15px;
    overflow-x:auto;
	text-wrap:normal !important;
	word-wrap:break-word !important;
	max-width:40px !important;

}
table tr th
{
	height:20px;
}
th{
	height: 20px !important;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	background-color: #000000;
	color:white;
    text-align: left;
    padding: 20px;
    overflow-x: auto;
	text-wrap:normal;
	word-wrap:break-word;

}
/*
tr:nth-child(even) {
    background-color: #dddddd;
    padding: 10px;
}
tr:nth-child(even) td
{
	border: 1px solid #ffffff;
}
*/
.total{
	text-align: right;
}
#rank{
	width: 10%;

}
#name{
	width: 60%;


}
#total_amount{
	width: 30%;
}

#total_collection{
	width: 30%;
	text-align: right !important; 
}

.alert {


}

